{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flight Information</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>

     <!-- navbar -->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-light shadow-lg rounded">
            <a href="" class="navbar-brand">
                <h1 class="m-0 text-primary"><span class="text-dark">TRAV</span>EL</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-4">
                <div class="navbar-nav ml-auto py-0">
                    <a href="url: {% url 'index' %}" class="nav-item nav-link active">Home</a>
                    <a href="#" class="nav-item nav-link">About</a>
                    <a href="#" class="nav-item nav-link">Contact</a>
                    <a href="#" class="nav-item nav-link">
                        <span class="text-primary">Profile</span>
                    </a>

                </div>
            </div>
        </nav>

    </div>

    <div class="container-fluid">
        <div>

             {% for key, flight in context.items %}

                <div class="search_box">

                    <div class="card my-5" style="height: 30%; width: 40%">


                        <div class="row card-body d-flex align-items-start">
                            <div class="col-md-4" style="font-size: x-large; font-weight:bold;">
                                {{ flight.name }}
                            </div>

                            <div class="col-md-4">
                                <div class="bg-basic rounded mt-2" style="font-size: large;  display: inline-block;">
                                    <p>
                                        <i class="fa fa-clock" ></i> {{ flight.departure_time }}
                                    </p>
                                    <p>
                                        {{ flight.source }}
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="bg-basic rounded mt-2 " style="font-size: large;">
                                    <p>
                                        <i class="fa fa-clock" ></i> {{ flight.arrival_time }}
                                    </p>
                                    <p>
                                        {{ flight.destination }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-primary">
                            <div class="row">
                                <div class="col-md-6">
                                    price : {{ flight.price }}T
                                </div>
                                <div class="col-md-6">
                                    <button class="btn bg-light ml-2" style="float: right;" data-toggle="modal" data-target="#info_detail">Detail</button>
                                    <a class="btn bg-light" id="reserve_button" type="button" href="{% url 'flightReserve' %}" onclick="getId()" style="float: right;">Reserve</a>
                                    <script>
                                        function getId()
                                        {
                                            var id = "{{ flight.id }}";
                                            console.log(id);
                                            $.ajax({
                                              type: "POST",
                                              {#url: {% url 'flightReserve' %},#}
                                              url: "http://127.0.0.1:8000/flightReserve",
                                              data: {'id': id},
                                              success: function(result){
                                                alert("Success");
                                              }
                                            });
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal" id="info_detail">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header bg-dark text-light">
                                  <h4 class="modal-title">Detail</h4>
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <p>
                                        Flight Number : {{ flight.number }}
                                    </p>
                                    <p>
                                        Terminal : {{ flight.terminal }}
                                    </p>
                                    <p>
                                        Included Baggage : {{ flight.included_Baggage }}kg
                                    </p>
                                    <p>
                                        Flight Type : {{ flight.type }}
                                    </p>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


            {% endfor %}



        </div>
    </div>





</body>
</html>