{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Travel Booking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">



</head>

<body class="main">

    <!-- navbar -->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-light shadow-lg rounded">
            <a href="" class="navbar-brand">
                <h1 class="m-0 text-primary"><span class="text-dark">TRAV</span>EL</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-4">
                <div class="navbar-nav ml-auto py-0">
                    <a href="#" class="nav-item nav-link active">Home</a>
                    <a href="#" class="nav-item nav-link">About</a>
                    <a href="#" class="nav-item nav-link">Contact</a>
                    <a href="#" class="nav-item nav-link">
                        <span class="text-primary">Login</span>
                    </a>

                </div>
            </div>
        </nav>
    </div>

    <div>

        <img class="img-fluid w-100"  src="{% static 'image/img1.jpg' %}" alt="Image"  style="height: 80vh; opacity:75%; z-index: 1;">


        <div>
            <div class="search_box">
                <div class="shadow-lg bg-light mt-n5" style="width:50%; z-index:9;">
                    <!-- Booking -->
                    <div class="row">
                        <div class="container" style="z-index:9;">
                            <nav class="nav nav-pills nav-justified">

                                 <div class="col-md-3">
                                    <a class="nav-item nav-link active" href="#">
                                        <i class="fa fa-plane mx-auto mb-3"></i>
                                        FLIGHTS
                                    </a>
                                </div>

                                <div class="col-md-3">
                                    <a class="nav-item nav-link" href="#">
                                        <i class="fa fa-train mx-auto mb-3"></i>
                                        TRAINS
                                    </a>
                                </div>

                                <div class="col-md-3">
                                    <a class="nav-item nav-link" href="#">
                                        <i class="fa fa-hotel mx-auto mb-3"></i>
                                        HOTELS
                                    </a>
                                </div>

                                <div class="col-md-3">
                                    <a class="nav-item nav-link" href="#">
                                        <i class="fa fa-building mx-auto mb-3"></i>
                                        SUITS
                                    </a>
                                </div>

                            </nav>
                        </div>
                    </div>
        
                    <!-- Booking Information -->
                    <div class="container mt-4 mb-5">
                        <form method="post" action="{% url 'flightSearch' %}">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="SOURCE">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="DESTINATION">
                                </div>
                                <div class="col-md-2">
                                    <input type="date" class="form-control" placeholder="CHECK IN">
                                </div>
                                <div class="col-md-2">
                                    <input type="date" class="form-control" placeholder="CHECK OUT">
                                </div>
                                <div class="col-md-2">
                                    <input type="number" class="form-control" placeholder="PASSENGERS">
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </form>
                
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

</body>

</html>